
* {
    margin: 0 5px;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(197, 181, 181);
}
h2 {
    text-align: center;
    background-color: rgb(29, 22, 12);
    color: #f5f5f5;
    padding: 0.75rem 0;
}
.body {
    padding: 2rem 0;
}
.h2, p {
    margin: 0 5px;      
}
.options {
    margin: 1rem auto;
}
li {
    list-style: none;
    margin-bottom: 3px;
}
.buttons {
    display: flex;
    margin-top: 3rem;
    flex-direction: row;
    justify-content: center;
}
button {
    background-color: rgb(66, 66, 163);
    padding: 0.75rem 0.5rem;
    color: white;
    outline: none;
    border: none;
}
.btn1{
    margin-right: 5px;
}
.btn2 {
    margin-left: 5px;
}